<%= container :id => :game do %>
	<%= row do %>
		<%= two_span do %>
			<h2><%= t :'game.name' %></h2>
		<% end %>
	<% end %>
	
	<%= one_col_row do %>
		<%= link_to t(:super_use), game_url, :class => :btn %>
	<% end %>
<% end %>