<div id="home" class="text-center">
  
  <div id="articles">
    <%= container_tag do %>
      <h2>
        <i class="icon-code"></i>
        Articles
      </h2>
      
      <p>
        Some text that matters<br/>
        Where I explain what we do in that section<br/>
        And some other cool stuff !
      </p>
      
      <%= row_tag do %>
        <%= col_6_tag offset: 3 do %>
          <%= coderay do %>
class Object
  def native_methods
    instance_methods(false).select do |method_name| 
      instance_method(method_name).source_location.nil?
    end
  end

  def ruby_methods() instance_methods(false) - native_methods end

  def inspect_methods
    %Q{
      +----- #{ self }
      | C written methods: #{ native_methods.size }
      | Ruby written methods: #{ ruby_methods.size }
      +-----
    } 
  end
end

?> [Array, Hash, String, Fixnum].map &:inspect_methods
=> "
      +----- Array
      | C written methods: 91
      | Ruby written methods: 31
      +-----
    

      +----- Hash
      | C written methods: 54
      | Ruby written methods: 43
      +-----
    

      +----- String
      | C written methods: 111
      | Ruby written methods: 43
      +-----
    

      +----- Fixnum
      | C written methods: 34
      | Ruby written methods: 0
      +-----
"
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
  
  <div id="experiences">

    <%= container_tag do %>
      <h2>
        <i class="icon-fire"></i>
        Experiences
      </h2>
  
      <%= erb Blog::Experience.published.tagged(:sphere).run(:mini) %>
  
      <p>
        Some text that matters<br/>
        Where I explain what we do in that section<br/>
        And some other cool stuff !
      </p>
  
      <p>
        <%= link_to t(:go_to), Blog::Experience, class: :btn %>
      </p>
    <% end %>  
  </div>
  
  <div id="ressources">
    <%= container_tag class: "items_center margin_sharp" do %>
      <h2>
        <i class="icon-bolt"></i>
        Ressources
      </h2>
  
      <%= row_tag do %>
        <%= col_6_tag class: "text-right" do %>
          <p>
            Some text that matters<br/>
            Where I explain what we do in that section<br/>
            And some other cool stuff !
          </p>
        <% end %>
  
        <%= col_6_tag class: "text-left" do %>
          <p>
            <%= btn_to :technology_watch, blog_ressources_path(pool: :technology_watch) %>
          </p>
        <% end %>
      <% end %>
      
      <p>
        <%= btn_to t(:go_to), Blog::Ressource %>
      </p>
    <% end %>
  </div>

  <div id="screencasts">
    <%= container_tag class: :margin_join do %>
      <h2>
        <i class="icon-youtube-play"></i>
        Screencasts
      </h2>

      <%= erb Blog::Screencast.published.tagged(:design_struct_1).decorate(self).embed %>

      <p>
        Some text that matters<br/>
        Where I explain what we do in that section<br/>
        And some other cool stuff !
      </p>


      <p>
        <%= link_to t(:go_to), Blog::Screencast, class: :btn %>
      </p>

      <%= row_tag do %>
        <%= col_6_tag class: "text-right" do %>
          <p>
            Ruby pour les experts !
          </p>
        <% end %>

        <%= col_6_tag class: "text-left" do %>
          <p>
            <%= btn_to :htcpcp, blog_screencasts_path(pool: :htcpcp) %>
          </p>
        <% end %>
      <% end %>

      <%= row_tag do %>
        <%= col_6_tag class: "text-right" do %>
          <p>
            Ruby pour les noobs !
          </p>
        <% end %>

        <%= col_6_tag class: "text-left" do %>
          <p>
            <%= btn_to :wcs_jane, blog_screencasts_path(pool: :wcs_jane) %>
          </p>
        <% end %>
      <% end %>

      <script src="https://apis.google.com/js/plusone.js"></script>
      <div class="g-ytsubscribe" data-channelid="UCOYFTIqHc5de50CMJK6s9Rw" data-layout="full" data-theme="default">
      </div>
    <% end %>


</div>







