<%= container_3_tag @sections do |section| %>
	<h2 class="text-center">
		<%= t "blog.#{ section }.name" %>
	</h2>
	
	<p>
		<%= t "blog.#{ section }.summary" %>
	</p>
	
	<p class="text-center">
		<%= link_to t(:go_to), "blog/#{ section }".classify.constantize, class: :btn %>
	</p>
<% end %>


<div id="home" class="text-center">
  <i><< j'ai tellement voulu >></i> - Thomas Petrachi
  
  <div id="articles">

    <%= container_tag do %>
      <h1>
        <i class="icon-code"></i>
        Articles
      </h1>
  
      <p>
        Some text that matters<br/>
        Where I explain what we do in that section<br/>
        And some other cool stuff !
      </p>
  
      <%= row_tag do %>
        <%= col_6_tag offset: 3 do %>
          <%= coderay do %>
class Object
  def native_methods
    methods.select do |method_name| 
      method(method_name).source_location.nil?
    end
  end

  def ruby_methods() methods - native_methods end

  def inspect_methods
    %Q{
      +-----
      | C written methods: #{ native_methods.size }
      | Ruby written methods: #{ ruby_methods.size }
      +-----
    } 
  end
end

?> [Array, Hash, String, Fixnum].map &:inspect_methods
=> "
      +-----
      | Native methods (written in C): 98
      | Support methods (written in Ruby): 125
      +-----

      +-----
      | Native methods (written in C): 98
      | Support methods (written in Ruby): 126
      +-----

      +-----
      | Native methods (written in C): 98
      | Support methods (written in Ruby): 124
      +-----

      +-----
      | Native methods (written in C): 95
      | Support methods (written in Ruby): 124
      +-----
"
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
  
  <div id="experiences">

    <%= container_tag do %>
      <h1>
        <i class="icon-fire"></i>
        Experiences
      </h1>
  
      <%= erb Blog::Experience.published.tagged(:sphere).run(:mini) %>
  
      <p>
        Some text that matters<br/>
        Where I explain what we do in that section<br/>
        And some other cool stuff !
      </p>
  
      <p>
        <%= link_to t(:go_to), Blog::Experience, class: :btn %>
      </p>
    <% end %>  
  </div>
  
  <div id="ressources">
    <%= container_tag class: :items_center do %>
      <h1><i class="icon-bolt"></i> Ressources</h1>
  
      <%= row_tag do %>
        <%= col_6_tag class: "text-right" do %>
          <p>
            Some text that matters<br/>
            Where I explain what we do in that section<br/>
            And some other cool stuff !
          </p>
        <% end %>
  
        <%= col_6_tag class: "text-left" do %>
          <p>
            <%= btn_to :technology_watch, blog_ressources_path(pool: :technology_watch) %>
          </p>
        <% end %>
      <% end %>
      
      <p>
        <%= btn_to t(:go_to), Blog::Ressource %>
      </p>
    <% end %>
  </div>
    
  <div id="screencasts">
    <%= container_tag do %>
      <h1>
        <i class="icon-youtube-play"></i>
        Screencasts
      </h1>
  
      <%= erb Blog::Screencast.published.tagged(:design_struct_1).decorate(self).embed %>

      <p>
        Some text that matters<br/>
        Where I explain what we do in that section<br/>
        And some other cool stuff !
      </p>
  

      <p>
        <%= link_to t(:go_to), Blog::Screencast, class: :btn %>
      </p>
  
      <%= row_tag do %>
        <%= col_6_tag class: "text-right" do %>
          <p>
            Ruby pour les experts !
          </p>
        <% end %>
      
        <%= col_6_tag class: "text-left" do %>
          <p>
            <%= btn_to :htcpcp, blog_screencasts_path(pool: :htcpcp) %>
          </p>
        <% end %>
      <% end %>
  
      <%= row_tag do %>
        <%= col_6_tag class: "text-right" do %>
          <p>
            Ruby pour les noobs !
          </p>
        <% end %>
      
        <%= col_6_tag class: "text-left" do %>
          <p>
            <%= btn_to :wcs_jane, blog_screencasts_path(pool: :wcs_jane) %>
          </p>
        <% end %>
      <% end %>
  
      <p>
    		<script src="https://apis.google.com/js/plusone.js"></script>
    		<div class="g-ytsubscribe" data-channelid="UCOYFTIqHc5de50CMJK6s9Rw" data-layout="full" data-theme="default">
    		</div>
      </p>
    <% end %>


</div>







