<%= container do %>
	<%= one_col_row do %>
		<h2><%=t :'blog.name' %></h2>
	<% end %>
	
	<%= row do %>
		<%= ten_span do %>
			<%=t :'blog.description' %>
		<% end %>

		<%= two_span :align => :right do %>
			<% if authorized? :blog %>
				<%= link_to t(:go_to), root_url(:subdomain => :blog), :class => :btn %>
			<% end %>
			
			<% if install_authorized? :blog %>
				<%= link_to t(:install), install_url(:subdomain => :blog), :class => :btn %>
			<% end %>
		<% end %>
	<% end %>
<% end %>
