<%= four_cols_container :collection=>@applications, :spans=>{:id => -> app { app }} do |application| %>
	<h2><%=t "#{ application }.name" %></h2>
	<p><%=t "#{ application }.brief" %></p>
	
	<p>
		<%= link_to t(:know_more), eval("#{ application }_path"), :class=>:btn %> 
		
		<% if eval "#{ application.to_s.classify }::User.current" %>
			<%= link_to t(:go_to), root_url(:subdomain=>application), :class=>:btn %>
		<% end %>
	</p>
<% end %>