<%= container do %>
	<%= one_col_row do %>
		<h2><%=t :'super_user.name' %></h2>
	<% end %>
	
	<%= row do %>
		<%= ten_span do %>
			<%=t :'super_user.description' %>
		<% end %>

		<%= two_span :align => :right do %>
			<% if SuperUser::User.current %>
				<%= link_to t(:go_to), root_url(:subdomain=>:super_user), :class=>:btn %>

			<% elsif MainUser.current %>
				<%= link_to t(:install), install_url(:subdomain=>:super_user), :class=>:btn %>

			<% else %>
				<%= link_to t(:sign_in), sign_in_url, :class=>:btn %>
			<% end %>
		<% end %>
	<% end %>
<% end %>
