<%= container do %>
	<%= row do %>
		<%= three_span do %>
			<% if @experiment.article %>
				<h3><%=t 'blog.article.name' %></h3>
			
				<p>
					<%= link_to @experiment.article.title, article_url(@experiment.article), :class => :btn  %>
				</p>
			<% end %>
			
			<h3><%=t :"#{ @application }.experiment.version.name" %></h3>
		
			<p>
				<% Blog::Version.by_experiment(@experiment).each do |version| %><%= 
					link_to version.mutation, version.to_url, :class => :btn 
				%><% end %>
			</p>
		<% end %>
		
		<%= nine_span do %>
			<%= erb @experiment.code %>
		<% end %>
	<% end %>
<% end %>
