<%= container_3_tag @experiences do |experience| %>
	<h2 class="text-center">
		<%= experience.title %>
	</h2>
	
	<p>
		<%= experience.summary.html_safe %>
	</p>
	
	<p class="text-center">
		<%= link_to t(:test), experience, class: :btn %>
	</p>
<% end %>

<%= container_tag do %>
  <%= pagination_tag @experiences, page: params[:page].to_i, per: 16 %>
<% end %>
