<%= container do %>
	<%= row do %>
		<%= six_span do %>
			<h2>
				<%= t :"#{ @application }.action_links" %>
			</h2>
		
			<% @action_links.each do |action_link| %>
				<p>
					<%= t :"#{ @application }.action_link.#{ @section }.#{ action_link }" %>
					<%= link_to t(:go_to), blog_url(:action => action_link), :class => :btn %>
				</p>
			<% end %>
		<% end %>
		
		<%= six_span do %>
			<h2>
				<%= t :"#{ @application }.tables" %>
			</h2>
			
			<% @tables.each do |table| %>
				<p>
					<%= t :"#{ @application }.table.#{ @section }.#{ table }" %>
					<%= eval("Blog::#{ table.to_s.classify }").count %>
					<%= link_to t(:go_to), blog_url(:action => table.to_s.pluralize), :class => :btn %>
				</p>
			<% end %>
		<% end %>
	<% end %>
<% end %>	
