<!DOCTYPE html>
<html>
<head>
	<title>Space</title>
	<%= stylesheet_link_tag "application", :media => "all" %>
	
	<%= javascript_include_tag "application" %>
	<%= javascript_tag do "$(document).ready(function(){ #{ resize_push } });".html_safe end if notice or alert %>	
		
	<%= csrf_meta_tags %>
</head>
<body>
	<div id="game_demo">
		
		<%= container do %>
			<%= row do %>
				<%= one_span :id=>:return do %>
					<h1><</h1>
				<% end %>
				
				<%= ten_span :id=>:title do %>
					<h1>ARMEE</h1>
				<% end %>
				
				<%= one_span :id=>:options do %>
					<%= row :nested=>true do %>
						<%= two_span do %>
							<ul id="params">
								<li>Paramètres</li>
								<li>Space</li>
								<li>CGU</li>
							</ul>
						<% end %>
					<% end %>
				<% end %>
			<% end %>
		<% end %>
		
		<%= container :id=>:sections do %>
			<%= row do %>
				<%= three_span(:id=>:monde){ content_tag(:h2, :MONDE) } %>
				<%= three_span(:id=>:empire){ content_tag(:h2, :EMPIRE) } %>
				<%= three_span(:id=>:armee){ content_tag :h2, :ARMEE } %>
				<%= three_span(:id=>:profil){ content_tag :h2, :PROFIL } %>
			<% end %>
		<% end %>
		
		<%= container :id=>:content_first do %>
			<%= row do %>
				<%= six_span do %>
					Dernières victoires : <strong>+6 500 XP</strong>
				<% end %>
				
				<%= six_span :class=>:right do %>
					<strong>ARMEE LEVEL 4</strong>
				<% end %>
			<% end %>
			
			<%= row do %>
				<%= six_span do %>
					Corps d'armee 1 : <%= image_tag "tmp/125.png" %> <%= image_tag "tmp/125.png" %> <%= image_tag "tmp/125.png" %> <%= image_tag "tmp/125.png" %><br/>
					Corps d'armee 2 : <%= image_tag "tmp/125.png" %> <%= image_tag "tmp/125.png" %>
				<% end %>
				
				<%= six_span :class=>:right do %>
					Corps de réserve : <%= image_tag "tmp/125.png" %> <%= image_tag "tmp/125.png" %>
				<% end %>
			<% end %>
			
			<%= row do %>
				<%= twelve_span :id=>:progress, :class=>:center do %>
					12 350 / 38 000 XP
				<% end %>
			<% end %>
		<% end %>
		
		<%= container :id=>:content_after, :class=>:recrutement do %>
			<%= row do %>
				<%= twelve_span do %>
					<h3>RECRUTEMENT</h3>
				<% end %>
			<% end %>
			
			<%= row do %>
				<%= six_span :class=>:unit do %>
					<%= row :nested=>true do %>
						<%= two_span :id=>:img_5, :class=>:profil do %>
						<% end %>
						
						<%= four_span :class=>:descr do %>
							<span class="btn">Recruter</span> Infanterie
						<% end %>
					<% end %>
				<% end %>
				
				<%= six_span :class=>:unit do %>
					<%= row :nested=>true do %>
						<%= two_span :id=>:img_26, :class=>:profil do %>
						<% end %>
						
						<%= four_span :class=>:descr do %>
							<span class="btn">Recruter</span> Infanterie Lourde
						<% end %>
					<% end %>
				<% end %>
			<% end %>
			
			<%= row do %>
				<%= six_span :class=>:unit do %>
					<%= row :nested=>true do %>
						<%= two_span :id=>:img_27, :class=>:profil do %>
						<% end %>
						
						<%= four_span :class=>:descr do %>
							<span class="btn">Recruter</span> Infanterie Soutient
						<% end %>
					<% end %>
				<% end %>
				
				<%= six_span :class=>:unit do %>
					<%= row :nested=>true do %>
						<%= two_span :id=>:img_8, :class=>:profil do %>
						<% end %>
						
						<%= four_span :class=>:descr do %>
							<span class="btn">Recruter</span> Support Aérien
						<% end %>
					<% end %>
				<% end %>			
			<% end %>

			<%= row do %>
				<%= six_span :class=>:unit do %>
					<%= row :nested=>true do %>
						<%= two_span :id=>:img_19, :class=>:profil do %>
						<% end %>
						
						<%= four_span :class=>:descr do %>
							<span class="btn">Recruter</span> Biologique
						<% end %>
					<% end %>
				<% end %>
			<% end %>
		<% end %>
		
		<%= container :id=>:content_after, :class=>:action do %>
			<%= row do %>
				<%= twelve_span do %>
					<h3>ACTIONS EN COURS</h3>
				<% end %>
			<% end %>
			
			<%= row do %>
				<%= two_span do %>
					Attaque
				<% end %>
						
				<%= six_span :prepend=>1, :class=>:movement do %>
				<% end %>
				
				<%= three_span :class=>:right do %>
					3'45'' restante <span class="btn red">Annuler</span>
				<% end %>
			<% end %>
			
			<%= row do %>
				<%= two_span do %>
					Attaque
				<% end %>
						
				<%= six_span :prepend=>1, :class=>"movement bis" do %>
				<% end %>
				
				<%= three_span :class=>:right do %>
					7'14'' restante <span class="btn red">Annuler</span>
				<% end %>
			<% end %>
			
			<%= row do %>
				<%= two_span do %>
					Mouvement
				<% end %>
						
				<%= six_span :prepend=>1, :class=>"movement ter" do %>
				<% end %>
				
				<%= three_span :class=>:right do %>
					5'30'' restante <span class="btn orange">Annuler</span>
				<% end %>
			<% end %>
			
			<%= row do %>
				<%= two_span do %>
					Mouvement
				<% end %>
						
				<%= six_span :prepend=>1, :class=>"movement qua" do %>
				<% end %>
				
				<%= three_span :class=>:right do %>
					Complété <span class="btn green">Valider</span>
				<% end %>
			<% end %>
		<% end %>
	</div>
</body>
</html>




