<%= container do %>
	<%= four_col_row [:cv, :game, :private] do |namespace| %>
		<%= image_tag "http://placehold.it/245x100" %>
		
		<h2><%=t "#{ namespace }.name" %></h2>
		<p><%=t "#{ namespace }.brief" %></p>
		
		<p><%= link_to t(:know_more), {:action=>namespace} %></p>
	<% end %>
<% end %>

<p><%= session[:new] %></p>