<%= pjax_flashs %>

<%= four_col_container :collection=>[:cv, :game, :private] do |namespace| %>
	<%= image_tag "http://placehold.it/245x100" %>
	
	<h2><%=t "#{ namespace }.name" %></h2>
	<p><%=t "#{ namespace }.brief" %></p>
	
	<p><%= link_to t(:know_more), {:action=>namespace} %></p>
<% end %>

<%= three_col_container :collection=>[:cv, :game, :private], :nested=>true do |namespace| %>

	<%= one_span{ t "#{ namespace }.name" } %>
	<%= three_span{ t "#{ namespace }.brief" } %>

<% end %>



what if : 
menu in 3s + content in 9s, 
i want to use "three col container" inside the content