<%= one_col_container do %>
	<h1><%=t "#{ namespace }.name" %></h1>
	<p><%=t "#{ namespace }.description" %></p>
	
	<p><%= link_to t(:install), install_url(:subdomain=>namespace) %></p>
<% end %>

<p><%= session[:new] = 12 %></p>
<p><%= session[:new] %></p>