<%= pjax_flashs %>

<%= one_cols_container do %>
	<h1><%=t "#{ namespace }.name" %></h1>
	<p><%=t "#{ namespace }.description" %></p>
	
	<% if current_user.present? and eval("#{ namespace.classify }::UsersController").new.installed?(@_request).blank? %>
		<p><%= pjax_skip_link_to t(:install), install_url(:subdomain=>namespace), :class=>"sign_out_sensitive" %></p>
	<% elsif current_user.present? %>
		<p><%= link_to "Go to space cv", root_url(:subdomain=>namespace), :class=>"sign_out_sensitive" %></p>
	<% else %>
		<p><%= remote_link_to "sign in", sign_in_url %></p>
	<% end %>
<% end %>