<%= one_col_container :collection => @sections do |section| %>
	<%= one_col_row do %>
		<h2><%= t :"#{ @application }.#{ section }.name" %></h2>
	<% end %>
	
	<%= one_col_container :disable => [:spans, :container] do %>
		<%= ten_span do %>
			<%= t :"#{ @application }.#{ section }.description" %>
		<% end %>
		
		<%= two_span :align => :right do %>
			<%= link_to t(:go_to), eval("#{ section }_url"), :class=>:btn %>
		<% end %>
	<% end %>
<% end %>

<%= four_cols_container :collection => [:puts_3d_planet] do |demo| %>
	<h3><%= demo %></h3>
	<p>
		<%= link_to t(:go_to), home_url(:action => demo), :class=>:"btn orange" %>
	</p>
<% end %>