<%= container_tag do %>
  <%= row_tag do %>
    <%= col_3_tag do %>

    <% end %>

    <%= col_9_tag do %>
      <h2>
        <%= @service.title %>
      </h2>

      <%= @service.summary %>
      
    <% end %>
  <% end %>
<% end %>
