<%= container do %>
	<%= row do %>
		<%= three_span :element => :sidebar do %>
		
			<h3><%=t :'blog.article.pool' %></h3>
			
			<p>
				<%= link_to @article.pool, @article.pool_url, :class => :btn %>
			</p>
		<% end %>
		
		<%= nine_span :element => :article do %>
			<h2>
				<%= @article.title %>
			</h2>
			
			<%= erb @article.run %>
			
			<p>
				<% if @article.following %>
					<%= link_to "<- début", @article.following, :class => :btn %>
				<% end %>
				
				<% if @article.followed %>
					<%= link_to "suite ->", @article.followed, :class => :btn %>
				<% end %>
			</p>
		<% end %>
	<% end %>
<% end %>
