<%= container do %>
	<%= row do %>
		<%= three_span :element => :sidebar do %>
			<% if @article.serie %>
				<h3><%=t 'blog.article.serie' %></h3>

				<p>
					<% @serie = Blog::Article.where(serie: @article.serie) %>
					<% @serie.each do |s| %><!--
						--><% if s == @article %><!--
							--><span class="btn-disabled">vol <%= s.serial_number %></span><!--
						--><% else %><!--
							--><%= link_to "vol #{s.serial_number}", s, :class => :btn %><!--
						--><% end %><!--
					--><% end %>
				</p>
			<% end %>
			
			<h3><%=t 'blog.article.pool' %></h3>
			
			<p>
				<%= link_to @article.pool, @article.pool_url, :class => :btn %>
			</p>
		<% end %>
		
		<%= nine_span :element => :article do %>
			<h2>
				<%= @article.title %>
			</h2>
			
			<%= erb @article.run %>
			
			<% if @article.serie %>			
				<p>
					<% if @article.following %>
						<%= link_to "&larr; Précédent".html_safe, @article.following, :class => :btn %>
					<% end %>
				
					<% if @article.followed %>
						<%= link_to "Suivant &rarr;".html_safe, @article.followed, :class => :btn %>
					<% end %>
				</p>
			<% end %>
		<% end %>
	<% end %>
<% end %>
