<%= container do %>
	<%= row do %>
		<%= three_span :element => :sidebar do %>
			<h3><%=t :"#{ @application }.experiment.name" %></h3>
			
			<p>
				<% @article.experiments.each do |experiment| %><%= 
					link_to experiment.title, experiment_url(experiment), :class => :btn 
				%><% end %>
			</p>
			
			<h3><%=t :"#{ @application }.ressource.name" %></h3>
			
			<p>
				<% @article.ressources.each	do |ressource| %><%= 
					link_to ressource.title, ressource.link, :target => :_blank, :class => :btn 
				%><% end %>
			</p>
		<% end %>

		<%= nine_span :element => :article do %>
			<h2><%= @article.title %></h2>
			
			<%= erb @article.code %>
		<% end %>
	<% end %>
<% end %>
