<%= container do %>
	<%= row do %>
		<%= three_span :element => :sidebar do %>
			1
		<% end %>

		<%= nine_span :element => :article do %>
			
			<i></i>
			
			<h2></h2>
			
			<p>
				
			</p>
			
			<h3></h3>
			
			article color blend / will use color_clock snippet muted
			
			color_start = "#b62b2b"
			color_end = "#b5702b"
			
			m = color_start.match /#(..)(..)(..)/
			color_start = {:r=>m[1].hex, :v=>m[2].hex, :b=>m[3].hex}

			m = color_end.match /#(..)(..)(..)/
			color_end = {:r=>m[1].hex, :v=>m[2].hex, :b=>m[3].hex} 

			percent = person[:score] * 100 / @searched_genes.size

			r_diff = color_end[:r] - color_start[:r]
			v_diff = color_end[:v] - color_start[:v]
			b_diff = color_end[:b] - color_start[:b]

			r = color_start[:r] + r_diff * percent/100.0
			v = color_start[:v] + v_diff * percent/100.0
			b = color_start[:b] + b_diff * percent/100.0
			
			
			<% 

				def calc_blend_array colors, steps

				blender = []
				begin

				color_start = colors.shift
				color_end = colors.first

				m = color_start.match /#(..)(..)(..)/
				color_start = {:r=>m[1].hex, :v=>m[2].hex, :b=>m[3].hex}

				m = color_end.match /#(..)(..)(..)/
				color_end = {:r=>m[1].hex, :v=>m[2].hex, :b=>m[3].hex} 



				steps.times do |i|

				percent = i * 100.0 / steps

				r_diff = color_end[:r] - color_start[:r]
				v_diff = color_end[:v] - color_start[:v]
				b_diff = color_end[:b] - color_start[:b]

				r = color_start[:r] + r_diff * percent/100.0
				v = color_start[:v] + v_diff * percent/100.0
				b = color_start[:b] + b_diff * percent/100.0

				blender << "##{"%02x" % r}#{"%02x" % v}#{"%02x" % b}"

				end

				end while colors.size > 1

				blender
				end

				# 1440
				calculated = calc_blend_array(["#000000", "#ff00ff", "#0000ff", "#00ffff", "#ffffff", "#00ff00", "#ffff00", "#ff0000", "#000000"], 180)


			%>
			
			
			<% calculated.each do |hex| %><!--
				--><div class="cb" style="background-color: <%= hex %>;">
				</div><!--
			--><% end %>

			
			
			<p>
				Bisous bisous, c'est la fin.
			</p>
			
		<% end %>
	<% end %>
<% end %>


