<%= container_tag do %>
	<%= row_tag do %>
		<%= col_3_tag :element => :sidebar do %>
			1
		<% end %>

		<%= col_9_tag :element => :article do %>
    
      <i>Rails (>= 3.x) est invulnérables aux attaques CRSF, mais cette invulnérabilité a un prix. Pour le CSRF, le prix se paye avec les requetes ajax.</i>
      
      <h2>CSRF Meta tags & AJAX</h2>
      
      <p>
        Rails (>= 3.x) introduit un helper <%= coderay inline: true, "csrf_meta_tags" %> qui permet 
      </p>
      
      
      http://guides.rubyonrails.org/security.html#cross-site-request-forgery-csrf
      
      <p></p>
      
      
      
      
      <%= coderay inline: true, "Hash#compact" %>
      
    CSRF token on rails with JS ajax requests
      
    
		<% end %>
  <% end %>
<% end %>
