<%= container_tag do %>
	<%= row_tag do %>
		<%= col_3_tag :element => :sidebar do %>
			1
		<% end %>

		<%= col_9_tag :element => :article do %>
    
    
    Selecteurs CSS stylés
      
      
    <i></i>
    
    <h2></h2>
    
    <p>
    </p>
    
    <h3></h3>
    
<%= coderay inline: true, "Hash#compact" %>    
      
      
		<% end %>
  <% end %>
<% end %>
