<%= container_3_tag @screencasts do |screencast| %>
	<h2 class="text-center">
		<%= screencast.title %>
	</h2>
	
	<p>
		<%= screencast.summary.html_safe %>
	</p>
	
	<p class="text-center">
		<%= btn_to t(:watch), screencast %>
	</p>
<% end %>

<%= container_tag do %>
  <%= pagination_tag @screencasts, page: params[:page].to_i, per: 16 %>
<% end %>
