<%= container_tag do %>
	<%= row_tag do %>
		<%= col_3_tag :element => :sidebar do %>
			<% if @screencast.serie %>
				<h3><%=t 'blog.screencast.series.pagination' %></h3>

				<p>
					<%= @screencast.serie_link_to %><!--
					--><%= @screencast.paginate %>
				</p>
			<% end %>
			
			
			<h3><%=t 'blog.screencast.pool' %></h3>
		
			<p>
				<%= link_to @screencast.pool, @screencast.pool_url, :class => :btn %>
			</p>
			
			<h3><%=t 'blog.screencast.subscribe_youtube' %></h3>
			
			<script src="https://apis.google.com/js/plusone.js"></script>
			<div class="g-ytsubscribe" data-channelid="UCOYFTIqHc5de50CMJK6s9Rw" data-layout="full" data-theme="default">
			</div>
			
		<% end %>
	
		<%= col_9_tag :element => :article do %>
			<h2>
				<%= @screencast.title %>
			</h2>
			
      <%= @screencast.embed %>
			
			<%= @screencast.navigate if @screencast.serie %>
			
			<h3><%= t 'blog.screencast.ressources' %></h3>
			
			<%= erb @screencast.run %>
		<% end %>
	<% end %>
<% end %>
