

<script type="text/javascript">
	$(document).ready(function() {
		
		jsMergeForm("#main form", "/achievements/edit");
		initializeQtip("#main form");
		
	});
</script>



<div id="main">
	<%= form_tag do %>
		<%= hidden_field_tag :call, :js %>
		<%= hidden_field_tag :id, @achievement.id %>
		
		
		<table>
			
			<tr>
				<td>
					<%= label_tag :all %>
				</td>
				<td>
					<%= text_field_tag :year %>
					<%= text_field_tag :activity %>
					<%= text_field_tag :brief %>
				</td>
			</tr>
			
			
			
			<tr id="js-merge-form">
				<td colspan="2" id="merge-init">
					Initialization <span class="merge-button">Click</span>
				</td>
				<td colspan="2" id="merge-loading" style="display:none;">
					Vérification du formulaire <span class="merge-button">Click</span>
				</td>
				<td colspan="2" id="merge-errors" style="display:none;">
					Des erreurs se sont cachés dans ce formulaire ! Traquez-les et anéantissez-les ! <span class="merge-button">Click</span>
					<div id="merge-errors-list">
					</div>
				</td>
				<td colspan="2" id="merge-bug" style="display:none;">
					Oops, I did it again ! <span class="merge-button">Click</span>
				</td>
				<td colspan="2" id="merge-validate" style="display:none;">
					Ce formulaire est valide et peut être mergé <span class="merge-button">Click</span>
				</td>
				<td colspan="2" id="merge-save" style="display:none;">
					Êtes-vous sûr de vos informations ? vérifiez juste une petite derniere fois avant de valider... <span class="merge-button">Click</span>
				</td>
			</tr>
		</table>
	<% end %>
</div>


