<%= container do %>
	<%= row :nested => true do %>
		<%= ten_span do %>
			<p>
				Tout ça c'est dans ta tête, <strong>monsieur Tweedy</strong>
			</p>
		<% end %>
		
		<%= one_span :prepend => 1 do %>
			<p>
				<%= link_to blog_articles_url do %>
					<i class="icon-home"></i>
				<% end %>
			</p>
		<% end %>
	<% end %>
<% end %>
