<%= container do %>
	<%= row :nested => true do %>
		<%= ten_span do %>
			<p>
				Tout ça c'est dans ta tête, <strong>monsieur Tweedy</strong>
			</p>
		<% end %>
		
		<%= one_span :prepend => 1, :align => :center do %>
			<p>
				<%= link_to "<i class=\"icon-home\"></i>".html_safe, article_url %>
			</p>
		<% end %>
	<% end %>
<% end %>
