<%= container do %>
	<%= row :nested => true do %>
		<%= ten_span do %>
			<p>
				<strong>-webkit-</strong> (Chrome, safari)
			</p>
		<% end %>
		
		<%= one_span :prepend => 1, :align => :center do %>
			<p>
				<%= link_to "<i class=\"icon-home\"></i>".html_safe, experiments_url %>
			</p>
		<% end %>
	<% end %>
<% end %>
