<%= container do %>
	<%= row :nested => true do %>
		<%= ten_span do %>
			<p>
				Tout est là, tout mon savoir.
			</p>
		<% end %>
		
		<%= one_span :prepend => 1, :align => :center do %>
			<p>
				<%= link_to "<i class=\"icon-home\"></i>".html_safe, ressources_url %>
			</p>
		<% end %>
	<% end %>
<% end %>
