<%= container_3_tag @articles do |article| %>
	<h2 class="text-center">
		<%= article.title %>
	</h2>

	<p>
		<%= article.summary.html_safe %>
	</p>

	<p class="text-center">
		<%= btn_to t(:discover), article %>
	</p>
<% end %>

<%= container_tag do %>
  <%= pagination_tag @articles, page: params[:page].to_i, per: 16 %>
<% end %>
