<!DOCTYPE html>
<html>
<head>
	<title>Space</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div id="header">
		<%= container :id => :task_bar, :class => request.subdomain do %>
			<%= row do %>
				<%= render :partial => "layouts/#{ request.subdomain << "/" if request.subdomain.present? }navigation" %>
				<%= render :partial => "layouts/user_info" %>
			<% end %>
		<% end %>
	
		<%= render :partial => "layouts/flashs" %>
		<%= render :partial => "layouts/sign_forms" %>
	</div>
	
	<%= render :partial => "layouts/pjax_container" %>
</body>
</html>




