<!DOCTYPE html>
<html>
	<head>
		<title>Space</title>
		<%= stylesheet_link_tag "application", :media => "all" %>	
		<%= javascript_include_tag "application" %>
	
		<%= csrf_meta_tags %>
	</head>
	<body>
		<%= one_col_container :element=>:header do %>
			<h1>Space</h1>
		<% end %>
		
		
		
		
		
		<div>
			<% if MainUser.current %>
				<%= MainUser.current %> <%= link_to t(:sign_out), sign_out_path %>
			<% else %>
				<%= link_to t(:sign_in), sign_in_path %> <%=t :or %> <%= link_to t(:sign_up), sign_up_path %>
			<% end %>
		</div>
		
				
		<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>
		
		<%= content_tag(:div, nil, :id => "ko", :class => "no ok" ){ "jo"} %>
		
		
		
		
		
		
		
		
		<%= yield %>	
	</body>
</html>




