<!DOCTYPE html>
<html>
	<head>
		<title>Space</title>
		<%= stylesheet_link_tag "application", :media => "all" %>	
		<%= javascript_include_tag "application" %>
	
		<%= csrf_meta_tags %>
	</head>
	<body id="home" layout="main">
		<%= one_col_container :element => :header do %>
			<h1><%= link_to t(:space), root_url(:subdomain => false) %></h1>
		<% end %>
		
		<!-- Flashs -->
		<%= one_col_container :id => :alert do %>
			<%= alert %>
		<% end %>
		
		<%= one_col_container :id => :notice do %>
			<%= notice %>
		<% end %>
		
		<!-- User -->
		<%= one_col_container :align => :center do %>
			<% if MainUser.current %>
				<%= MainUser.current %> <%= link_to t(:sign_out), sign_out_path, :class=>:btn %>
				
			<% else %>
				<%= link_to t(:sign_in), sign_in_path, :class=>:btn %> <%=t :or %> <%= link_to t(:sign_up), sign_up_path, :class=>:btn %>
			<% end %>
		<% end %>
		
		<%= yield %>	
	</body>
</html>




