<!DOCTYPE html>
<html>
	<head>
		<title><%= t(:"#{ @application }.name").titleize %></title>
		
		<%= stylesheet_link_tag :"#{ @application }", :media => "all" %>	
		<%= javascript_include_tag "application" %>
	
		<%= csrf_meta_tags %>
	</head>
	<body id="<%= @application %>" layout="main">
		<%= container :element => :header, :align => :center do %>
			<%= row do %>
				<% unless application_is? :space %>
					<%= one_span :id => :return do %>
						<h1><%= link_to "<i class=\"icon-globe\"></i>".html_safe, root_url(:subdomain => false) %></h1>
					<% end %>
				<% end %>
				
				<%= ten_span :append => 1, :prepend => (application_is?(:space) ? 1 : 0) do %>
					<h1><%= link_to t(:"#{ @application }.name"), root_url %></h1>
				<% end %>
			<% end %>
		<% end %>
		
		<%= yield %>
	</body>
</html>
