<!DOCTYPE html>
<html>
	<head>
		<title><%= t(:"#{ @application }.name").titleize %></title>
		
		<%= stylesheet_link_tag :"#{ @application }", :media => "all" %>	
		<%= javascript_include_tag "application" %>
	
		<%= csrf_meta_tags %>
	</head>
	<body id="<%= @application %>" layout="main">
		<%= one_col_container :element => :header do %>
			<h1><%= link_to t(:"#{ @application }.name"), root_url %></h1>
		<% end %>
		
		<%= yield %>
	</body>
</html>
