<!DOCTYPE html>
<html>
	<head>
		<title><%= t("#{ @application }.name").titleize %></title>
		
		<%= stylesheet_link_tag @application, :media => 'all' %>	
		<%= javascript_include_tag 'application' %>
		
		<%= google_analytics_include_tag %>
		
		<%= csrf_meta_tags %>
	</head>
	<body id="<%= @application %>" layout="nav">
		<header>
			<%= container_tag do %>
				<%= row_tag do %>
					<%= col_1_tag :id => :return do %>
						<h1 class="text-center">
							<%= link_to root_url(:subdomain => false) do %>
								<i class="icon-globe"></i>
							<% end %>
						</h1>
					<% end %>
			
					<%= col_10_tag :id => :title, :append => 1 do %>
						<h1><%= link_to t("#{ @application }.name"), root_url %></h1>
					<% end %>
				<% end %>
			<% end %>
		</header>
			
		<nav>
			<%= container_3_tag @sections, 
					rows: {
						cols: {
							proc_options: {
								class: ->(section){ 
									%W{
										#{ @application }-section-#{ section } 
										#{ :active if section == @section }
									}.join ' '
								}
							}
						}
					} do |section| %>
				<h3>
					<%= link_to t("#{ @application }.#{ section }.name"), "#{ @application }/#{ section }".classify.constantize %>
				</h3>
			<% end %>
		</nav>
	
		<!-- Wide -->
		<%= container_tag do %>
			<div id="break">
				<%= render :partial => "layouts/#{ @application }/#{ @section }" %>
			</div>
		<% end %>
		
		<%= yield %>	
	</body>
</html>
