<!DOCTYPE html>
<html>
	<head>
		<title><%= t(:"#{ @application }.name").titleize %></title>
		
		<%= stylesheet_link_tag :"#{ @application }", :media => "all" %>	
		<%= javascript_include_tag "application" %>
	
		<%= csrf_meta_tags %>
	</head>
	<body id="<%= @application %>" layout="nav">
		<%= one_col_container :element => :header, :disable => :spans do %>
			<%= one_span :id => :return, :align => :center do %>
				<h1><%= link_to "<i class=\"icon-angle-left\"></i>".html_safe, root_url(:subdomain => false) %></h1>
			<% end %>
			
			<%= ten_span :id => :title, :append => 1 do %>
				<h1><%= link_to t(:"#{ @application }.name"), root_url %></h1>
			<% end %>
		<% end %>
		
		<!-- Navigation trough sections -->
		<%= four_col_container 	:element => :nav, 
								:collection => @sections, 
								:spans => {
									:class => ->(section){ 
										%W{
											#{ @application }-section-#{ section } 
											#{ :active if section == @section }
										}.join " "
									}
								},
								:align => :center do |section| %>
			<h2><%= link_to t(:"#{ @application }.#{ section }.name"), eval("#{ section }_url") %></h2>
		<% end %>
		
		<!-- Wide -->
		<%= container :id => :wide, :class => @section do %>
			<%= render :partial => "layouts/#{ @application }/#{ @section }" %>
		<% end %>
		
		
		<%= yield %>	
	</body>
</html>
